<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger - %msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="WireMock" level="DEBUG">
        <appender-ref ref="CONSOLE" />
    </logger>
    <logger name="org.eclipse.jetty.ee10.servlet.DefaultServlet" level="ERROR">
        <appender-ref ref="CONSOLE" />
    </logger>
    <!-- org.eclipse.jetty.ee10.servlet.DefaultServlet -->

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>